.App {
  text-align: center;
}

.head {
  background-color: black ;
  color: white;
  margin-top: 0;
}

h1 {
  margin-top: 0;
}

table {
  border-spacing: 50px 0;
  width: 500px;
  margin: 0 auto;
}


